@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     --swiper-pagination-color: #1c984e;
}

* {
     transition: all 0.5 ease-in-out;
}

@font-face {
     font-family: 'tahoma';
     src: url('/fonts/tregular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'tahoma';
     src: url('/fonts/tbold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}