.sectionTitle {
     text-align: center;
     position: relative;
     margin-bottom: 60px;
}

.bgTitleText {
     line-height: 1;
     top: -10px;
     position: absolute;
     text-transform: uppercase;
     z-index: -1;
     font-weight: 900 !important;
     font-size: 73px;
     color: #efefef;
     left: 50%;
     transform: translateX(-50%);
     width: 100%;
}

.sectionTitle h2 {
     margin-top: 0;
     position: relative;
     text-transform: uppercase;
     font-size: 15px;
     line-height: 1.3;
     margin-bottom: 0px;
     color: #6168FF;
}

.sectionTitle p {
     font-size: 27px;
     margin-bottom: 0;
     line-height: 38px;
     color: #333;
}